.contact{
    background-color:$midnight-color; 
    height: 700px;
}

.contact{
    .container{
        display: flex;
        align-items:center;
        justify-content: space-between;
    }
}

.contact__left{
    .contact__h1{
        font-size: 64px;
        line-height: 100px;
        color:$white-color;
        margin-top: 120px;
    }

    .contact__h3{
        font-size: 32px;
        line-height: 48px;
        color:$light-color;
        margin-bottom: 32px;
    }

    .contact__left__bottom1{
        color:$white-color;
        width: 380px;
        
    }
}

.contact__right{
    margin-left: 150px;
    margin-top: 150px;
}

.contact__lable{
    color:$midnight-color;
}

.contact__lable:active{
    color:$light-color;
    margin-bottom: 24px;

}

.contact__top__img{
    position: absolute;
    top: 228px;
}

.contact__bottom_img{
    position: absolute;
    bottom: -97px;
    right: 0px;
}

@media only screen and (max-width:768px){
    .contact{
        .container{
            display: flex;
           flex-direction: column;
        }
    }

    .contact{
        background-color:$midnight-color; 
        height: 1094px;
        position: relative;

        .contact__left__bottom{
            position: relative;
            left: 24px;
            margin: 0 auto;
            
        }

        .contact__right{
            margin-left: 91px;
            margin-top: 64px;
        }

    }
    

   

    .contact__left{
        .contact__h1{
            font-size: 64px;
            line-height: 56px;
            color:$white-color;
            margin-top: 120px;
            text-align: center;
        }

        .contact__h3{
            text-align: center;
            margin-top: 24px;
        }
    }

    .contact__left__bottom__img{
        position: relative;
        left: 0px;
    }

    .contact__left__bottom1{
        margin-left: -10px;
        
    }

    .contact__top__img{
        z-index: 100;
    }

    .contact__list{
        gap: 100px;
    }


    
    
}

